.body-class {
  background-color: Salmon; 
  color: black; 
  font-family: "Georgia", serif; 
}

.header-class {
  background-color: CadetBlue; 
  color: black; 
  font-family: "Georgia", serif; 
}

.nav-class {
  background-color: NavajoWhite;
  color: Salmon; 
}
.nav-class a.active {
  font-weight: bold; 
}

 .title-class {
  color: DarkSlateGray; 
  font-family: "Georgia", serif; 
}
.section-title-class {
  color: DimGray; 
  font-family: "Georgia", serif; 
}

.text-class {
  color: black; 
}

.image-class {
  border: 1px solid CadetBlue;
}

.form-class input[type="text"],
.form-class textarea {
  border: 1px solid CadetBlue;
  color: DimGray; 
}

.newsletter-section-class input[type="email"] {
  border: 1px solid CadetBlue; 
}

.newsletter-section-class input[email] {
  border: 1px solid CadetBlue;
}

.contact-section-class input[type="text"],
.contact-section-class input[type="email"] {
  border: 1px solid CadetBlue; 
}


.button-class {
  background-color: CadetBlue; 
  color: Back; 
}

.footer-class {
  background-color: LightCoral; 
  color: DimGray; 
}

#newsletter-email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: CadetBlue;
  color: white;

.label-class {
  background-color: lightgrey;
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 1200px) {
} 

