.body-class {
  background-color: aliceblue;
  
.header-class {
  background-color: cadetblue;
  color: black;
  padding: 40px;
  text-align: center;
}

.nav-class {

.title-class {

.text-class {
  
.image-class {

.form-class {

.button-class {

.footer-class {
